@import url("https://fonts.googleapis.com/css2?family=Poppins");

html {
    font-family: Poppins, sans-serif;
}



header {
    background-image: url(/images/landing-photo.jpg);
    width: 1000px;
    margin: auto;
}

header nav h1 {
    margin-left: 100px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    margin-right: 80px;
}

header nav ul li {
    display: inline-block;
    padding-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.brown {
    background-color: #370511;
    padding: 4px 14px;
    border-radius: 14px;
}

.brown a {
    color: white;
}

.info h1 {
    font-size: 40px;
    margin-bottom: 8px;
}

.info {
    margin-left: 100px;
    margin-top: 200px;
}

.par {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.par2 {
    margin-bottom: 30px;
}

.par2,
.par3 {
    font-weight: 500;
}

.explore {
    background-color: #370511;
    color: white;
    border-radius: 12px;
    border: 1px solid #370511;
    padding: 2px 22px;
    margin-bottom: 80px;
}

main {
    width: 1000px;
    margin: auto;

}

.container {
    text-align: center;
    margin-top: 60px;
}

footer {
    width: 1000px;
    background-color: black;
    height: 200px;
    margin: auto;
}

footer h1 {
    color: white;
    margin-left: 150px;
    margin-top: 40px;
}