html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.koko {
    text-align: right;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
}

blockquote {
    border-left: 3px solid rgb(221,221,221);
    font-style: italic;
    padding: 20px;
}



/* TABLE CSS */

th {
    background-color: lightgray;
}

th, td {
    width: 700px;
    height: 32px;
    border: 1px solid #ccc;
    padding-left: 5px;
}
