/* 
#786eff - purple
#959da4 - sivo
#f6f8f9 - background
*/

.container {
    background-color: #f6f8f9;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    align-items: flex-end;
    border-radius: 10px;
}

.enterprise {
    padding-left: 60px;
    padding-top: 100px;
    margin-bottom: 40px;
}

.enterprise_par {
    font-weight: 600;
    font-size: 10px;
}

h1 {
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 20px;
}

.enterprise_par2 {
    width: 330px;
    margin-bottom: 25px;
    color: #959da4;
}

.contact {
    background-color: #786eff;
    border: 1px solid #786eff;
    color: white;
    padding: 4px 8px
}

.learn {
    padding: 4px 8px;
    margin-left: 8px;
}

img {
    width: 30%;
}



