@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

html {
    font-family: "Open Sans", Montserrat, sans-serif;
    background-color: pink;
}

.wrapper {
    background-color: #f6e0b5;
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 200px;
}

.images {
    width: 600px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 100px;
    height: 500px;
}

img {
    width: 300px;
    height: 110px;
    margin-top: 20px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

figcaption {
    margin-bottom: 20px;
    color: white;
    background-color: #66545e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    padding: 2px 4px;
}

a {
    text-decoration: none;
    color: #957064;
    font-weight: 600;
}

ul li {
    list-style-type: none;
}

h3 {
    padding-left: 35px;
    font-weight: 500;
    color: #745861;
}


.category {
    width: 200px;
    color: #957064;
    padding-top: 100px;
}