body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
}

a {
    background-color: rgb(0, 153, 0);
}

h1 {
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}

img {
    position: absolute;
}