body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

ul {
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    text-size-adjust: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
}

section article header p {
    font-style: italic;
}

.par {
    font-size: 24px;
}

section article header h1 {
    font-size: 28px;
}

footer p{
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #444;
}